<mat-toolbar>
  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="icon" aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="my">eBookRepository</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    mode="side" [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item>
        <div class="item2">Books</div>
      </a>
      <a mat-list-item routerLink="/home/ebooks" routerLinkActive="active">
        <mat-icon class="icon">book</mat-icon>
        <div class="item">All books</div>
      </a>
      <a *ngIf="type === 'ADMIN'" mat-list-item routerLink="/home/ebook-create" routerLinkActive="active">
        <mat-icon class="icon">add</mat-icon>
        <div class="item">Add new book</div>
      </a>
    </mat-nav-list>
    <hr>
    <mat-nav-list>
      <a mat-list-item>
        <div class="item2">Categories</div>
      </a>
      <a mat-list-item routerLink="/home/categories" routerLinkActive="active">
        <mat-icon class="icon">category</mat-icon>
        <div class="item">All categories</div>
      </a>
    </mat-nav-list>
    <hr>
    <mat-nav-list *ngIf="type === 'ADMIN'">
      <a mat-list-item routerLink="/home/users" routerLinkActive="active">
        <mat-icon class="icon">people</mat-icon>
        <div class="item">All users</div>
      </a>
      <a mat-list-item routerLink="/home/user-create" routerLinkActive="active">
        <mat-icon class="icon">add</mat-icon>
        <div class="item">Add new user</div>
      </a>
    </mat-nav-list>
    <hr>
    <mat-nav-list>
      <a *ngIf="type == 'PRETPLATNIK' || type == 'ADMIN'" mat-list-item routerLink="/home/profile" routerLinkActive="active">
        <mat-icon class="icon">account_circle</mat-icon>
        <div class="item">My profile</div>
      </a>
      <a *ngIf="type == 'PRETPLATNIK' || type == 'ADMIN'" mat-list-item routerLink="/change-password" routerLinkActive="active">
        <mat-icon class="icon">lock</mat-icon>
        <div class="item">Change password</div>
      </a>
      <a mat-list-item routerLink="/register" routerLinkActive="active">
        <mat-icon class="icon">account_circle</mat-icon>
        <div class="item">Create account</div>
      </a>
      <a *ngIf="type == 'PRETPLATNIK' || type == 'ADMIN'" mat-list-item (click)="logout()">
        <mat-icon class="icon">exit_to_app</mat-icon>
        <div class="item">Log out</div>
      </a>

    </mat-nav-list>
    <hr>
  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>