<div class="container" style="margin-top: 84px;">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toppad">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class=" col-md-6 col-lg-6 ">
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <td>Title:</td>
                  <td>{{ eBook.title }}</td>
                </tr>
                <tr>
                  <td>Author:</td>
                  <td>{{ eBook.author }}</td>
                </tr>
                <tr>
                  <td>Keywords:</td>
                  <td>{{ eBook.keywords }}</td>
                </tr>
                <tr>
                  <td>Publication year:</td>
                  <td>{{ eBook.publicationYear }}</td>
                </tr>
                <tr>
                  <td>Filename:</td>
                  <td>{{ eBook.filename }}</td>
                </tr>
                <tr>
                  <td>MIME:</td>
                  <td>{{ eBook.mime }}</td>
                </tr>
                <tr>
                  <td>Category:</td>
                  <td>{{ eBook.categoryName }}</td>
                </tr>
                <tr>
                  <td>Language:</td>
                  <td>{{ eBook.languageName }}</td>
                </tr>
                <tr>
                  <td>Cataloguer:</td>
                  <td>{{ eBook.cataloguerName }}</td>
                </tr>
              </tbody>
            </table>

            <button (click)="download()" class="btn btn-md btn-primary btn-block" type="submit">Download</button>
          </div>
          <div class=" col-md-6 col-lg-6 ">
            <div class="form-group">
              <label class="form-control-label">Highlight</label>
              <textarea rows="17" class="form-control" [(ngModel)]="eBook.filename" readonly></textarea>
            </div>
            <button class="btn btn-md btn-success btn-block" type="submit">Edit</button>
            <button class="btn btn-md btn-danger btn-block" type="submit">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>